@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 26.3% 96.3%;
    --foreground: 220.9 39.3% 11%;
    --card: 0 0% 100%;
    --card-foreground: 220.9 39.3% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 220.9 39.3% 11%;
    --primary: 109.5 19.6% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44.1 14.5% 91.3%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 44.1 14.5% 91.3%;
    --muted-foreground: 220.9 15% 40%;
    --accent: 41.1 48.1% 69%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 4.1 55.2% 41.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 9.9% 82.2%;
    --input: 40 9.9% 82.2%;
    --ring: 109.5 19.6% 40%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 161.5 20% 12.7%;
    --foreground: 48 26.3% 96.3%;
    --card: 161.5 18% 16%;
    --card-foreground: 48 26.3% 96.3%;
    --popover: 161.5 18% 16%;
    --popover-foreground: 48 26.3% 96.3%;
    --primary: 112.5 23.5% 60%;
    --primary-foreground: 160.9 25% 10%;
    --secondary: 161.5 15% 20%;
    --secondary-foreground: 48 26.3% 96.3%;
    --muted: 161.5 15% 20%;
    --muted-foreground: 48 10% 65%;
    --accent: 39.3 42.9% 62.9%;
    --accent-foreground: 160.9 25% 10%;
    --destructive: 4.1 45% 45%;
    --destructive-foreground: 36 15% 92%;
    --border: 161.5 15% 22%;
    --input: 161.5 15% 22%;
    --ring: 112.5 23.5% 60%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  input,
  select,
  textarea {
    @apply border-border;
  }
}
